@charset "UTF-8";

*{
    margin: 0px;
    padding: 0%;
}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}
main {
    height: 100vh;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-position: center top;
    position: relative;
}
section#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
}
iframe {
    position: relative;
    top: 80px;
    left: 22px;
    width: 264px;
    height: 468px;
}

#redes  {
    text-align: right;
}

#redes img:hover {
    border: 2px solid rgb(173, 173, 173);
    translate: -5% -5%;
    transition-duration: 1s;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.623);
    box-sizing: border-box;
}

#redes img {
    width: 50px;
    margin: 10px;
    border-radius: 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.541);
}